.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	width: 58%
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	width: 38%;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	color: #fff;
	border: 0px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 20px;
	
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-form-coupon button {
	background-color: #222;
	border-radius: 35px;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background: #000;
	color: #fff;
}
.woocommerce button.button[name="update_cart"]:disabled {
	background: #ebebeb;
}
.woocommerce button.button[name="update_cart"]:disabled,
.woocommerce button.button[name="update_cart"] {
	float: right;
	padding: 15px 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
}
.select2-container--default .select2-selection--single {
	background: none;
}
.select2-container .select2-selection--single {
	height: auto;
	padding: 5px 15px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 0px;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: #999;
	color: #fff;
}
.woocommerce span.onsale {
	background-color: #000;
	min-width: 8.236em;
	padding: 1px;
	top: 1em;
	border-radius: 3px;
}
.woocommerce .input-text.qty {
	width: 100%;
	max-width: 75px;
}
.woocommerce-form__label input#createaccount {
	height: 25px;
}
.woocommerce-form__label span {
	padding-left: 20px;
}
.woocommerce ul.products li.product .price ins {
	font-size: 15px;
}
.pswp__caption__center {
	text-align: center;
	font-size: large;
}
del span.woocommerce-Price-amount {
	color: #999;
	font-weight: 500;
}
ins span.woocommerce-Price-amount {
	background: none;
	padding: 5px 10px;
	border-radius: 2px;
	color: #111;
}
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
	text-decoration: none;
	font-weight: 500;
}
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #333;
}
.woocommerce-message::before,
.woocommerce .product_meta a:hover {
	color: #999;
}
.woocommerce-message {
	border-top: none;
	line-height: 40px;
}
input#submit:disabled,
input#submit[disabled]:disabled,
input.button:disabled,
input.button[disabled]:disabled {
	display: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
a.woocommerce-LoopProduct-link:hover {
	color: #333;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
	font-size: 27px;
}
.woocommerce ul.products li.product a img {
	margin: 0px;
}
.woocommerce ul.products li.product .price del {
	display: inline-block;
}
span.price {
	padding-top: 10px;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select,
.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select,
.woocommerce form .form-row .select2-container {
	border: 1px solid #eee;
	line-height: 1.5;
}
.woocommerce-page .spacer {
	padding: 0px;
}
.woocommerce-page table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text {
	width: auto;
}
.woocommerce-page .content-wrap {
	border: 0px;
}
.woocommerce form .form-row.woocommerce-invalid label {
	text-decoration: underline;
}
.woocommerce-info {
	border-top: none;
	margin-top: 5px;
}
#add_payment_method .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout .cart-collaterals .cart_totals table,
.woocommerce table.shop_table {
	border-collapse: collapse;
}
.woocommerce-cart .edit-post {
	line-height: 0px;
}
.select2-container--default .select2-selection--single {
	border: none;
}
.select2-dropdown {
	border: 1px solid #eee;
	-webkit-box-shadow: 0px 44px 60px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 44px 60px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 44px 60px 0px rgba(0,0,0,0.11);
}
.woocommerce-checkout #payment {
	background: #fff;
}
.woocommerce-account .addresses .title .edit {
	display: block;
	clear: both;
	background: #333;
	padding: 3px;
	color: #fff;
	width: 100%;
	text-align: center;
}
.woocommerce-account .addresses .title .edit:hover {
	background: #999;
}
.woocommerce-error {
	border-top: 0px;
}
.woocommerce-Price-amount {
	font-weight: 500;
}
.woocommerce a.added_to_cart {
	background-color: #999;
	color: #fff;
	border: 0px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 500;
	margin-top: .5em;
	padding: 12px 30px;
}
.woocommerce a.added_to_cart:hover,
.woocommerce button:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.woocommerce .product_meta {
	font-size: 12px;
	color: #999;
}
.woocommerce .product_meta a {
	color: #555;
}
single_add_to_cart_button:hover {
	background: 555;
}
input#coupon_code {
	height: 3em;
}
.woocommerce-checkout .col2-set .col-1 {
	max-width: 70%;
}
.woocommerce-checkout .col2-set .col-2 {
	max-width: 40%;
}
.woocommerce form .form-row {
	display: flex;
	flex-direction: column;
}
.woocommerce input,
.woocommerce-input-wrapper textarea {
	padding: 5px 15px;
}
.woocommerce-info::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f05a";
	font-size: 20px;
	line-height: normal;
	left: 20px;
}
.woocommerce select.orderby:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f05a";
	font-size: 20px;
	line-height: normal;
	left: 20px;
	color: #000;
	z-index: 999;
}
ul.wc_payment_methods li {
	list-style-type: none;
}
button#place_order {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}
.entry-summary form.cart {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.entry-summary form.cart button {
	width: 100%;
	max-width: 300px;
	margin-top: 20px;
}
.related.products li.product {
	text-align: center;
}
.woocommerce span.onsale,
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	z-index: 1;
}
.woocommerce nav.woocommerce-pagination ul {
	border: 0px;
}
.woocommerce-pagination li span {
	border: 1px solid #eee;
	border-radius: 100px;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li {
	float: none;
	display: initial;
	border-right: none;
}
.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li {
	display: initial;
}
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a {
	padding: 2px 8px;
	font-weight: bold;
	display: inline;
}
.woocommerce nav.woocommerce-pagination ul li a:hover {
	background: inherit;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
	color: #fff;
	background: #222;
}
@media screen and (max-width: 991px) {
	.woocommerce-checkout .col2-set .col-1 {
		max-width: 100%;
	}
	.woocommerce-checkout .col2-set .col-2 {
		max-width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
		width: 100%
	}
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		width: 100%;
	}
	.woocommerce-message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.woocommerce-message:before {
		position: initial;
	}
	.woocommerce table.shop_table_responsive tr td,
	.woocommerce-page table.shop_table_responsive tr td {
		border: 0px;
	}
	li.product {
		text-align: center;
	}
	.entry-summary {
		text-align: center;
	}
	.woocommerce .woocommerce-product-rating .star-rating,
	.woocommerce .star-rating {
		float: none;
		margin: 0 auto;
	}
	.woocommerce div.product form.cart .button {
		float: none;
	}
	.woocommerce-error a.wc-forward {
		width: 100%;
		text-align: center;
	}
	.coupon #coupon_code {
		margin: 10px 0 20px 0;
	}
	.coupon #coupon_code,
	.coupon .button,
	.woocommerce table.cart td.actions .coupon .input-text + .button {
		display: block;
		width: 100%;
		float: none;
	}
}